.dashboard .pure-g > div{
    display: inline-block;
    float:left;
}


.dashboard{
    padding-top: 2rem;
}

.db-group-item {
    background: #FFFFFF;
    width: 96%;
    text-align: center;
    margin: 1rem auto;
    float: none;
}

div{
    font-size: 7rem;
    text-align: center;
    font-family: Avantgarde;

}
h5{
    left: 0;
    width: 100%;
    line-height: 100%;
    text-align: center;
    margin: 0;
    padding-bottom: 1.5rem;
}

