<div class="dashboard clearfix">
    <div class=" pure-g clearfix">
        <div class="pure-u-1-2">
            <div class="db-group-item">
            <a href="#/add-weight/index"><div class="Avantgarde-add-weight"></div>
                <h5>Add weight</h5></a>
            </div>
        </div>
        <div class="pure-u-1-2">
            <div class="db-group-item">
                <a href="#/weights/index"><div class="Avantgarde-weightlist"></div>
                <h5>Body weights</h5></a>
            </div>
        </div>
    </div>

    <div class=" pure-g clearfix">
        <div class="pure-u-1-2">
            <div class="db-group-item">
                <a href="#/eatables/index"> <div class="Avantgarde-food-produce"></div>
                    <h5>Food produce</h5></a>
            </div>
        </div>
        <div class="pure-u-1-2">
            <div class="db-group-item disable">
                <a class="disable" ><!--href="#/calculate-food/index"> -->
                    <div class="Avantgarde-calculate"></div>
                    <h5>Calculate food</h5></a>
            </div>
        </div>
    </div>

    <div class=" pure-g clearfix">
        <div class="pure-u-1-2">
            <div class="db-group-item">
                <a class="disable" href="#/add-workout/index">
                    <div class="Avantgarde-training"></div>
                    <h5>Fitness</h5></a>
            </div>
        </div>
    </div>
</div>