.pure-form button[type=submit] {
  margin: 0;
}
.add-eatable,
.view {
  position: relative;
}
.add-eatable .view-content label,
.view .view-content label {
  padding: 2% 2% 2% 0;
}
.add-eatable .view-content .pure-form .pure-button-lg,
.view .view-content .pure-form .pure-button-lg,
.add-eatable .view-content .pure-form .pure-button,
.view .view-content .pure-form .pure-button {
  width: 96%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.add-eatable .view-content .pure-form input[type=text],
.view .view-content .pure-form input[type=text],
.add-eatable .view-content .pure-form label,
.view .view-content .pure-form label,
.add-eatable .view-content .add-eatable h3,
.view .view-content .add-eatable h3 {
  width: 96%;
  display: block;
  margin: 0 auto;
}
.view {
  position: relative;
}
.view header h3 {
  margin: 0;
  padding: 0.5rem 0 0 2%;
  float: none !important;
  display: block !important;
}
