<div class="add-eatable">
    <header>
        <div class="pure-g">
            <h3 class="pure-u-12-12">{{title}}</h3>
        </div>
            <div class="pure-g">
                <i ng-show="_eatable.editable > 0"> Currently Editing food produce: {{_eatable.name}}</i>
                <i ng-show="_eatable.editable <= 0"> Currently viewing food produce: {{_eatable.name}}</i>
                <button class="" ng-show="_eatable.editable != null && _eatable.editable>0" ng-click="editEatable()">Edit food produce</button>
            </div>
    </header>
    <div class="pure-g" >
        <div ng-show="_eatable.editable != null" id="food-info">
            <h6>Name</h6>
            <p>{{_eatable.name}}</p>
            <h6>Kcal</h6>
            <p>{{_eatable.kcal}}</p>
            <h6>Protein</h6>
            <p>{{_eatable.protein}}</p>
            <h6>Carbohydrates</h6>
            <p>{{_eatable.carbohydrates}}</p>
            <h6>Fat</h6>
            <p>{{_eatable.fat}}</p>
        </div>
         <form role="form" name="myForm" class="pure-form pure-form-stacked" ng-cloak ng-show="_eatable.editable == null" accept-charset="utf-8">
            <div class= "form-group" ng-class="{error: myForm.name.$invalid}">
                <label class= ""> Name </label>
                <div class="">
                    <input name="name" ng-model="_eatable.name" type= "text" placeholder="{{_eatable.name}}" required/>
                </div>
                <label for="kcal"> Kcal </label>
                <input name="kcal" ng-model="_eatable.kcal" type= "text" placeholder="{{_eatable.kcal}}" required/>
                <label for="carbohydrates"> Carbohydrates </label>
                <input name="carbohydrates" ng-model="_eatable.carbohydrates" type= "text" placeholder="{{_eatable.carbohydrates}}" required/>
                <label for= "protein"> Protein </label>
                <input name="protein" ng-model="_eatable.protein" type= "text" placeholder="{{_eatable.protein}}" required/>
                <label for="fat"> Fat </label>
                <input name="fat" ng-model="_eatable.fat" type= "text" placeholder="{{_eatable.fat}}" required/>
                <input type="hidden" name="_editable" value="1">
            </div>
            <div class= "form-group">
                <div class="">
                    <a href="#/eatables/index" class="">Cancel</a>
                    <button ng-click="saveEatable(_eatable);"
                            ng-disabled="isClean() || myForm.$invalid"
                            class="">{{buttonText}}</button>
                    <button ng-show="_eatable.editable > 0 && _eatable.editable!=null"
                            ng-click="deleteEatable(_eatable)"
                            class="">Delete</button>
                </div>
            </div>
        </form>
    </div>
    <div class="footer">
        <div class="pure-g">
            <div class="pure-u-12-12">
                <button class="pure-button">
                <a href="#/settings/index"><p class="Avantgarde-settings"></p>
                </a>
                </button>
            </div>
        </div>
    </div>
</div>
