<style type="text/css">
    .form-horizontal input.ng-invalid.ng-dirty {
        border-color: #FA787E;
    }

    .form-horizontal input.ng-valid.ng-dirty {
        border-color: #78FA89;
    }
</style>
<div class="view">
    <div class="container">
        <div class="row">
            <nav class= "navbar navbar-default" role= "navigation" >
                <div class= "navbar-header" >
                    <a class= "navbar-brand" href= "#/eatables/index"><i class="glyphicon glyphicon-th-large"></i>  Food produce list </a><br/>
                    <i class="glyphicon glyphicon-edit" ng-show="_eatable.editable > 0"> Currently Editing food produce: {{_eatable.name}}</i>
                    <i class="glyphicon glyphicon-edit" ng-show="_eatable.editable <= 0"> Currently viewing food produce: {{_eatable.name}}</i>
                    <button class="btn" ng-show="_eatable.editable != null && _eatable.editable>0" ng-click="editEatable()">&nbsp;<i class="glyphicon glyphicon-edit"></i>&nbsp; Edit food produce</a>
                </div>
            </nav>
            <header>
                <h3>{{title}}</h3>
            </header>
            <div class="col-md-12" >
                <div ng-show="_eatable.editable != null" id="food-info">
                    <h6>Name</h6>
                    <p>{{_eatable.name}}</p>
                    <h6>Kcal</h6>
                    <p>{{_eatable.kcal}}</p>
                    <h6>Protein</h6>
                    <p>{{_eatable.protein}}</p>
                    <h6>Carbohydrates</h6>
                    <p>{{_eatable.carbohydrates}}</p>
                    <h6>Fat</h6>
                    <p>{{_eatable.fat}}</p>
                </div>

                <form role="form" id="myForm" name="myForm" class="form-horizontal" ng-cloak ng-show="_eatable.editable == null" accept-charset="utf-8">
                    <div class="row">
                        <div class= "form-group" ng-class="{error: myForm.name.$invalid}">
                            <label class= "col-md-2"> Name </label>
                            <div class="col-md-4">
                                <input name="name" ng-model="_eatable.name" type= "text" class= "form-control" placeholder="{{_eatable.name}}" required/>
                            </div>
                            <label class= "col-md-2"> Kcal </label>
                            <div class="col-md-4">
                                <input name="kcal" ng-model="_eatable.kcal" type= "text" class= "form-control" placeholder="{{_eatable.kcal}}" required/>

                            </div>
                            <label class= "col-md-2"> Carbohydrates </label>
                            <div class="col-md-4">
                                <input name="carbohydrates" ng-model="_eatable.carbohydrates" type= "text" class= "form-control" placeholder="{{_eatable.carbohydrates}}" required/>

                            </div>
                            <label class= "col-md-2"> Protein </label>
                            <div class="col-md-4">
                                <input name="protein" ng-model="_eatable.protein" type= "text" class= "form-control" placeholder="{{_eatable.protein}}" required/>
                            </div>
                            <label class= "col-md-2"> Fat </label>
                            <div class="col-md-4">
                                <input name="fat" ng-model="_eatable.fat" type= "text" class= "form-control" placeholder="{{_eatable.fat}}" required/>
                            </div>
                        </div>
                        <div class= "form-group">
                            <label class= "col-md-2"></label>
                            <div class="col-md-4">
                                <a href="#/eatables/index" class="btn">Cancel</a>
                                <button ng-click="saveEatable(_eatable);"
                                        ng-disabled="isClean() || myForm.$invalid"
                                        class="btn btn-primary">{{buttonText}}</button>
                                <button ng-show="_eatable.editable > 0 && _eatable.editable!=null"
                                        ng-click="deleteEatable(_eatable)"
                                        class="btn btn-warning">Delete</button>

                            </div>
                        </div>
                    </div>
                </form>
            </div></div>
    </div>
</div>
