/*

#content{
  position: relative;
  width:100%;
  min-width: 60%;
  height: 100%;
  background: #929292;
}*/

.panelBg{
  background: #333;
  opacity: 0.75;
  color:#FFF;
}



/*.pure-g > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*/
/*

.dashboard .pure-g > div{
  display: inline-block;
  float:left;
}


.dashboard{
  padding-top: 2rem;
  }

.db-group-item{
  background: #FFFFFF;
  width: 96%;
  text-align: center;
  margin: 1rem auto;
  float:none;

  div{
    font-size: 7rem;
    text-align: center;
    font-family: Avantgarde;

  }
  h5{
    left: 0;
    width: 100%;
    line-height: 100%;
    text-align: center;
    margin: 0;
    padding-bottom: 1.5rem;
  }

}
*/

.view{
  padding: 0 8%;
  margin-bottom:5rem;

  header{

    h3{
      padding: 3rem;
      margin: 0;
    }
  }
}


.view-content{
  width: 100%;

  .form-buttons{
    margin-top: 2rem;
  }
}

.footer{
  position: fixed;
  bottom: 0;
  right: 0;
  background: #fff;
  height: 3.125rem;
  width: 100%;
  z-index: 9999;
  border-top: 1px solid rgba(92, 92, 92, 0.2);;
}


.footer .pure-button{
  height: 3.1rem;
  background-image: none;
  font-size: 2rem;
  font-family: Avantgarde;
  border-radius: 0;
  padding: 0 2%;
  float: right;
}
.footer .pure-button p{
  margin:0; text-align:center; width: 100%; vertical-align: middle;line-height: 3.125rem;
}