@font-face {
  font-family: 'Avantgarde';
  src: url('../fonts/Avantgarde/Avantgarde.eot');
  src: url('../fonts/Avantgarde/Avantgarde.eot?#iefix') format('embedded-opentype'), url('../fonts/Avantgarde/Avantgarde.woff2') format('woff2'), url('../fonts/Avantgarde/Avantgarde.woff') format('woff'), url('../fonts/Avantgarde/Avantgarde.ttf') format('truetype'), url('../fonts/Avantgarde/Avantgarde.svg#Avantgarde') format('svg');
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  content: attr(data-icon);
}
[data-icon]:before,
.Avantgarde-Create:before,
.Avantgarde-Filter:before,
.Avantgarde-List-menu:before,
.Avantgarde-List-tiles:before,
.Avantgarde-Live:before,
.Avantgarde-Menu-texticon:before,
.Avantgarde-Wall:before,
.Avantgarde-Work:before,
.Avantgarde-add-weight:before,
.Avantgarde-back-button:before,
.Avantgarde-calculate:before,
.Avantgarde-dashboard:before,
.Avantgarde-dashboard-square:before,
.Avantgarde-facebook:before,
.Avantgarde-food-produce:before,
.Avantgarde-home:before,
.Avantgarde-pinterest:before,
.Avantgarde-search:before,
.Avantgarde-settings:before,
.Avantgarde-training:before,
.Avantgarde-training-person:before,
.Avantgarde-twitter:before,
.Avantgarde-weightlist:before {
  display: inline-block;
  font-family: "Avantgarde";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.Avantgarde-Create:before {
  content: "\f100";
}
.Avantgarde-Filter:before {
  content: "\f101";
}
.Avantgarde-List-menu:before {
  content: "\f102";
}
.Avantgarde-List-tiles:before {
  content: "\f103";
}
.Avantgarde-Live:before {
  content: "\f104";
}
.Avantgarde-Menu-texticon:before {
  content: "\f105";
}
.Avantgarde-Wall:before {
  content: "\f106";
}
.Avantgarde-Work:before {
  content: "\f107";
}
.Avantgarde-add-weight:before {
  content: "\f114";
}
.Avantgarde-back-button:before {
  content: "\f11a";
}
.Avantgarde-calculate:before {
  content: "\f111";
}
.Avantgarde-dashboard:before {
  content: "\f10f";
}
.Avantgarde-dashboard-square:before {
  content: "\f11c";
}
.Avantgarde-facebook:before {
  content: "\f109";
}
.Avantgarde-food-produce:before {
  content: "\f117";
}
.Avantgarde-home:before {
  content: "\f118";
}
.Avantgarde-pinterest:before {
  content: "\f10a";
}
.Avantgarde-search:before {
  content: "\f10b";
}
.Avantgarde-settings:before {
  content: "\f115";
}
.Avantgarde-training:before {
  content: "\f110";
}
.Avantgarde-training-person:before {
  content: "\f112";
}
.Avantgarde-twitter:before {
  content: "\f10c";
}
.Avantgarde-weightlist:before {
  content: "\f113";
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*********************
TOOLS
*********************/
/** {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
}*/
.disable {
  color: #999999!important;
  cursor: default;
  opacity: 0.5;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.excercise-header {
  text-align: center;
  background: #ffffff;
  border-top: 1px #74786d solid;
  height: 2rem;
}
#content,
#main {
  height: 100%;
  position: relative;
}
#timer-panel {
  height: 30%;
  padding-top: 2.75rem;
}
#timer-panel #timer {
  height: 70%;
  font-size: 6rem;
}
#timer-panel #timer div:first-of-type {
  text-align: right;
}
#timer-panel #timer div:nth-child(2) {
  text-align: center;
}
#timer-panel #timer div:last-of-type {
  text-align: left;
}
#timer-panel #timer-controls {
  height: 3.25rem;
  line-height: 3.25rem;
}
#timer-panel #timer-controls div[aria-label="timer-play-button"],
#timer-panel #timer-controls div[aria-label="timer-stop-button"] {
  display: none;
}
#timer-panel #timer-controls div {
  text-align: center;
  line-height: inherit;
  vertical-align: middle;
}
#set-tab-panel {
  min-height: 3.25rem;
  font-size: 2.75rem;
  text-align: center;
  line-height: 3.25rem;
  cursor: pointer;
}
#set-tab-panel div {
  line-height: inherit;
  vertical-align: middle;
}
#set-tab-panel div span {
  line-height: inherit;
  vertical-align: middle;
}
#set-tab-panel div span[class*="Avantgarde"] {
  font-size: 1rem;
  line-height: inherit;
  vertical-align: middle;
}
#set-tab-panel .active-set-tab {
  background: #00af49;
  color: #ffffff;
}
#set-content-panel {
  background: #00af49;
  color: #ffffff;
  margin-bottom: 2rem;
}
#set-content-panel .set-panel {
  display: none;
}
#set-content-panel .set-panel .num-stepper {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  cursor: pointer;
}
#set-content-panel .set-panel .set-weight,
#set-content-panel .set-panel .set-count {
  font-size: 2rem;
  text-align: center;
  vertical-align: middle;
}
#set-content-panel .set-panel input {
  display: table-cell;
  text-align: center;
  border: none;
  background: transparent;
  height: auto;
}
#set-content-panel .set-panel input:focus {
  outline-offset: 0;
  padding: 0;
  outline: none;
}
#set-content-panel .set-panel input:hover {
  padding: 0;
}
#set-content-panel .set-panel .set-finished {
  font-size: 2.75rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#set-content-panel .set-panel .set-finished .Avantgarde-checkmark-unchecked.Avantgarde-checkmark-circle {
  line-height: inherit;
  font-size: inherit;
  vertical-align: middle;
}
#set-content-panel .set-panel div:last-child div {
  text-align: center;
}
#set-content-panel .active-set-panel {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}
#pre-set-result-list {
  background: #ffffff;
}
#pre-set-result-list .pre-set-result {
  background: #ffffff;
}
#pre-set-result-list .pre-set-result div:first-child {
  padding-left: 0.4rem;
}
#pre-set-result-list .pre-set-result div:last-of-type {
  padding-right: 0.4rem;
  text-align: right;
}
