<div class="view add-workout">
    <div class="pure-g ng-hidden" ng-if="workoutParam==false">
        <div class="pure-u-1 excercise-header">
            <ul>
                <li><a href="#/add-workout/index/?workoutname=upperbodychest&user_name=Mikael&nbsp;Eng">Chest workout</a></li>
                <li><a href="#/add-workout/index/?workoutname=upperbodydeadlift&user_name=Mikael&nbsp;Eng">Deadlift</a></li>
                <li><a href="#/add-workout/index/?workoutname=lowerbodysquats&user_name=Mikael&nbsp;Eng">Squats workout</a></li>
            </ul>
        </div>
    </div>


        <!-- repeats dynamicly from the json file the amout of excercises views in the excercise json object.  ng-show="currentExcerciseNum == set.order" -->
            <excercise-directive ng-repeat="set in excercise" class="{{set.label}}-excercise workout-excercise" ng-show="currentExcerciseNum == set.order"  ></excercise-directive>

</div>
