<div class="view add-workout">
    <div class="pure-g ng-hidden" ng-if="currentWorkout==false">
        <div class="pure-u-1 excercise-header">
            <ul>
                <li><a href="#/add-workout/index/?workoutname=chest">Chest workout</a></li>
                <li><a href="#/add-workout/index/?workoutname=deadlift">Deadlift</a></li>
                <li><a href="#/add-workout/index/?workoutname=squats">Squats workout</a></li>
            </ul>
        </div>
    </div>
    <div class="view-content ng-hidden" ng-show="currentExcercise">
        <div class="pure-g">
            <div class="pure-u-1">
                <div ng-repeat="excercise in currentExcercise" ng-show="excercise.order==1" class="excercise-header"> {{excercise.label}}</div>
            </div>
        </div>

            <excercise-directive ng-repeat="set in currentExcercise" ng-show="set.order==1"></excercise-directive>
    </div>
</div>
